* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial Black', Arial, sans-serif;
    background-color: #e0e0e0;
    color: #333;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #008037;
    padding: 25px 20px;
    width: 100%;
    color: white;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-left .logo {
    width: 50px; /* Ajuste do tamanho do logo */
    height: auto;
}

.header-left .home-btn,
.header-left .back-btn {
    padding: 8px 15px;
    background-color: #0066cc;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.header-left .home-btn:hover,
.header-left .back-btn:hover {
    background-color: #004d99;
}

.header-center {
    flex-grow: 1;
    text-align: center;
}

.header-center h1 {
    font-size: 2rem;
    color: white;
}

.header-right a {
    color: white;
    background-color: #0066cc;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.header-right a:hover {
    background-color: #004d99;
}

.team-name {
    margin-top: 40px; /* Espaço maior entre a barra e o título "Botafogo" */
    color: #007BFF;
    font-size: 3rem;
    margin-bottom: 30px; /* Mais espaço abaixo da palavra Botafogo */
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
}

.product-card {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.product-card img {
    width: 100%;
    max-width: 180px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.product-name {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
}

.product-price {
    font-size: 1.2rem;
    color: #008037;
    font-weight: bold;
}

.buy-btn {
    padding: 12px 25px;
    background-color: #008037;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.buy-btn:hover {
    background-color: #004d26;
    transform: scale(1.05);
}

footer {
    width: 100%;
    background-color: #008037;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

footer p {
    font-weight: bold;
    font-size: 1.1rem;
}
