* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial Black', Arial, sans-serif;
    background-color: #e0e0e0;
    color: #333;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.header-section {
    display: flex;
    justify-content: center;  /* Centraliza o texto no meio da barra */
    align-items: center;
    background-color: #008037;
    padding: 25px 20px;
    width: 100%;
    color: white;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    height: 50px;
}

.header-left .back-btn {
    margin-left: 15px;
    background-color: #0066cc;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.header-left .back-btn:hover {
    background-color: #004d99;
}

.header-center {
    flex-grow: 1;
    text-align: center;
}

.header-center h1 {
    font-size: 2rem;
    color: white;
}

.header-right a {
    color: white;
    background-color: #0066cc;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.header-right a:hover {
    background-color: #004d99;
}

.main-content {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

h1 {
    color: #007BFF;
    font-size: 2.5rem;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 30px;
}

.teams-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.team-card {
    background-color: #fff;
    border: 2px solid #008037;
    border-radius: 10px;
    padding: 15px; /* Ajustei o padding para maior compatibilidade */
    text-align: center;
    transition: transform 0.3s ease;
    height: auto; /* Ajustado para se adaptar ao conteúdo */
}

.team-card:hover {
    transform: scale(1.05);
}

.team-card img {
    width: 100%;
    height: auto;  /* A imagem vai crescer conforme o tamanho do container */
    max-height: 200px; /* Limita a altura da imagem */
    object-fit: contain; /* Mantém a proporção da imagem */
    margin-bottom: 15px;
    border-radius: 5px;
}

.team-btn {
    background-color: #008037;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
}

.team-btn:hover {
    background-color: #004d26;
    transform: scale(1.05);
}

footer {
    width: 100%;
    background-color: #008037;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

footer p {
    font-weight: bold;
    font-size: 1.1rem;
    color: white; /* Garantindo que o texto do footer fique branco */
}
