<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link href="../css/login.css" rel="stylesheet" type="text/css"> <!-- Corrigir caminho se necessário -->
    <script src="../js/login.js" defer></script>
</head>

<body>
    <div class="App">
        <header class="header-section">
            <div class="header-left">
                <img src="../img/logo.png" alt="Logo">
            </div>
            <div class="header-center">
                <h1>Design em Campo</h1>
            </div>
            <div class="header-right">
                <a href="../html/index.html" class="header-button">Voltar</a>
            </div>
        </header>

    <div class="custom-section">
        <h1>Cadastro</h1>
        <form  id="cadastroForm">
         
            <div class="input-group">
                <label for="username">Nome de Usuário</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="input-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="input-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="input-group">
                <label for="confirm_password">Confirme a Senha</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
            </div>

            <button type="submit" id="buttonIndex"></a>Cadastrar</button>
        </form>

        <p>Já tem uma conta? <a href="../html/login.html">Faça login aqui</a></p>
    </div>

</body>

</html>
