<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>final - Design em Campo</title>
    <link href="../css/final.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="App">
        <!-- Header -->
        <header class="header-section">
            <div class="header-left">
                <img src="../img/logo.png" alt="Logo">
                <a href="../html/index.html" class="header-button">Página Inicial</a>
            </div>
            <div class="header-center">
                <h1>Design em Campo</h1>
            </div>
            <div class="header-right">
                <a href="../html/cart.html" class="header-button">Voltar ao carrinho</a>
            </div>
        </header>
        <div class="cart-container">
            <h2 class="cart-title">Obrigada por comprar na Design em Campo!</h2>
            <div class="cart-text">
                <p>A sua personalização está em boas mãos!<br> Estamos trabalhando para que tudo fique perfeito para você.
                    <br>  <strong>Equipe Design em Campo</strong></p>
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer-section">
            <p>Obrigado por personalizar com a Design em Campo!</p>
        </footer>
    </div>
</body>

</html>