<!doctype html>
<html lang="pt-br">

<head>
    <link href="static/logo.png" rel="icon" type="image/png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Design em Campo - Personalize sua camisa">
    <meta name="author" content="Design em Campo">
    <meta name="theme-color" content="#000000">
    <link href="../css/main.css" rel="stylesheet" type="text/css">
    <title>Design em Campo</title>
    <script src="../js/shirt.js" defer></script>
</head>

<body>
    <div class="App">
        <header class="header-section">
            <div class="header-left">
                <img src="../img/logo.png" alt="Logo">
            </div>
            <div class="header-center">
                <h1>Design em Campo</h1>
            </div>
            <div class="header-right">
                <a href="../html/login.html" class="header-button">Login</a>
                <a href="../html/cart.html" class="header-button">Carrinho</a>
            </div>
        </header>

        <div class="image-description">
            <img src="../img/capafut.jpg" alt="Imagem capa futuro" class="image-capa">
            <p>Bem-vindo ao Design em Campo, o lugar perfeito para os fãs que vivem e respiram a paixão pelo seu time. Oferecemos mercadorias exclusivas e personalizáveis, para que você possa mostrar seu amor pela sua equipe de uma forma única e autêntica. Seja parte da nossa comunidade e leve para casa produtos feitos especialmente para você!</p>
        </div>

        <section class="section-container">
            <div class="section-box">
                <h2>Times Cariocas</h2>
                <p>Encontre camisas do seu time carioca favorito!</p>
                <a href="../html/times.html">Escolha o seu time</a>
            </div>

            <div class="section-box">
                <h2>Promoções</h2>
                <p>Aproveite nossas promoções! Descontos imperdíveis!</p>
                <a href="../html/promo.html">Confira a SALE</a>
            </div>

            <div class="section-box">
                <h2>MarketPlace</h2>
                <p>Explore novas criações e inspire-se!</p>
                <a href="../html/market.html">Visite o MarketPlace</a>
            </div>

            <div class="section-box">
                <h2>Personalização</h2>
                <p>Personalize sua camisa com seu estilo único.</p>
                <a href="../html/personalizar.html">Personalizar agora</a>
            </div>
        </section>

        <footer class="footer-section">
            <p>Obrigado por personalizar com a Design em Campo!</p>
        </footer>
    </div>
</body>

</html>
