<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Atualizando o caminho do arquivo CSS para a pasta css -->
    <link href="../css/login.css" rel="stylesheet" type="text/css"> <!-- Caminho relativo para o CSS -->
</head>

<body>
    <div class="App">
        <header class="header-section">
            <div class="header-left">
                <img src="../img/logo.png" alt="Logo">
            </div>
            <div class="header-center">
                <h1>Design em Campo</h1>
            </div>
            <div class="header-right">
                <a href="../html/index.html" class="header-button">Voltar</a>
            </div>
        </header>
<body>
    <div class="custom-section">
        <h1>Login</h1>
        <form action="/login" method="POST">
            <div class="input-group">
                <label for="username">Nome de Usuário</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="input-group">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" required>
            </div>

            <button type="submit">Entrar</button>
        </form>

        <!-- Atualizando o link de cadastro para a pasta html -->
        <p>Não tem uma conta? <a href="../html/cadastro.html">Cadastre-se aqui</a></p> <!-- Caminho relativo para a página de cadastro -->
    </div>
</body>

</html>
