<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design em Campo</title>
    <link href="../css/market.css" rel="stylesheet" type="text/css"> <!-- Caminho relativo para o CSS -->
</head>

<body>
    <div class="App">
        <!-- Cabeçalho -->
        <header class="header-section">
            <div class="header-left">
                <img src="../img/logo.png" alt="Logo">
            </div>
            <div class="header-center">
                <h1>Design em Campo</h1>
            </div>
            <div class="header-right">
                <a href="../html/index.html" class="header-button">Voltar</a>
            </div>
        </header>

        <!-- Conteúdo principal -->
        <section id="tela" class="info-section">
        
            <h2>Marketplace</h2>
            <p>Aqui estão alguns dos modelos que você pode escolher para personalizar!</p>

            <div class="product-gallery">
                <!-- Card 1 -->
                <div class="product-card">
                    <img src="../img/flu.jpeg" alt="Camisa 1" class="product-image">
                    <button class="btn like-btn" onclick="incrementCount('like2')">Like <span id="like2">0</span></button>
                    <button class="btn download-btn" onclick="incrementCount('download2')">Baixar <span id="download2">0</span></button>
                    <button class="buy-btn">Comprar</button>
                </div>
                <!-- Card 2 -->
                <div class="product-card">
                    <img src="../img/flamego.jpeg" alt="Camisa 2" class="product-image">
                    <button class="btn like-btn" onclick="incrementCount('like1')">Like <span id="like1">0</span></button>
                    <button class="btn download-btn" onclick="incrementCount('download1')">Baixar <span id="download1">0</span></button>
                    <button class="buy-btn">Comprar</button>
                </div>
                <!-- Card Grande -->
                <div class="product-large-card">
                    <img src="../img/vasco.jpeg" alt="Camisa Grande" class="product-image">
                    <button class="btn like-btn" onclick="incrementCount('like3')">Like <span id="like3">0</span></button>
                    <button class="btn download-btn" onclick="incrementCount('download3')">Baixar <span id="download3">0</span></button>
                    <button class="buy-btn">Comprar</button>
                </div>
            </div>
        </section>
    </div>

    <script src="../js/market.js"></script> <!-- Caminho relativo para o JavaScript -->
</body>

</html>
