
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Carrinho</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>

    <!-- Cabeçalho -->
    <header class="header">
        <div class="logo">
            <img src="logo.png" alt="Design em Campo" width="50px">
            <h1>Design em Campo</h1>
        </div>
        <a href="login.html" class="login-btn">Entrar</a> <!-- Usando <a> para link -->

    </header>


    <!-- Conteúdo Principal -->
    <main>
        <div class="cart-container">

            <!-- Itens do Carrinho -->
            <div class="cart-items">
                <h2>Meu Carrinho</h2>
                {% for item in items %}
                    <div class="cart-item">
                        <img src="{{ item.image.url }}" alt="{{ item.name }}" class="item-image">
                        <div class="item-details">
                            <h3>{{ item.name }}</h3>
                            <p>{{ item.description }}</p>
                            <p class="item-price">R${{ item.price }}</p>
                        </div>
                        <form action="{% url 'cart_item_delete' item.id %}" method="post" class="remove-item-form">
                            {% csrf_token %}
                            <button type="submit" class="remove-item-btn">X</button>
                        </form>
                    </div>
                {% empty %}
                    <p>O carrinho está vazio.</p>
                {% endfor %}
            </div>

            <!-- Resumo do Carrinho -->
            <div class="cart-summary">
                <h3>Resumo do Carrinho</h3>
                <p>Itens ({{ items|length }}) .......... R${{ total_price }}</p>
                <p>Frete .......... R$30.00</p>
                <p>Total .......... R${{ total_price|add:"30" }}</p>
                <a href="checkout.html" class="checkout-btn">Finalizar Compra</a>
            </div>

        </div>
    </main>

    <!-- Rodapé -->
    <footer>
        <img src="bola.png" alt="Bola" width="50px">
    </footer>

</body>
</html>
