<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desing em Campo</title>
    <link href="times.css" rel="stylesheet" type="text/css">

</head>
<body>
   
    <div class="tela">
        <div class="header">
            <a href="index.html" class="back-btn">
                <img src="bola.png" width="50px"> Página Inicial<img src="bola.png" width="50px">
            </a>
        </div>

        <h1>Times Cariocas</h1>
        <p class="subtitle">Procure e veja camisas do seu time favorito</p>

        
        <div class="teams-gallery">
            <!-- Botafogo -->
            <div class="team-card">
                <img src="botcamisa.png" alt="Camisa Botafogo">
                <a href="botafogo.html" class="team-btn">Botafogo</a>
            </div>
            <!-- Flamengo -->
            <div class="team-card">
                <img src="flacamisa.webp" alt="Camisa Flamengo">
                <a href="flamengo.html" class="team-btn">Flamengo</a>
            </div>
            <!-- Vasco -->
            <div class="team-card">
                <img src="vascamisa.webp" alt="Camisa Vasco">
    
                <a href="vasco.html" class="team-btn">Vasco</a>
            </div>
            <!-- Fluminense -->
            <div class="team-card">
                <img src="flucamisa.webp" alt="Camisa Fluminense">
                <a href="fluminense.html" class="team-btn">Fluminense</a>
            </div>
        </div>
    </div>
</body>
</html>