<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desing em Campo</title>
    <link href="indtime.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="tela">
        <div class="header">
            <a href="times.html" class="back-btn">
                <img src="bola.png" width="50px"> Times Cariocas<img src="bola.png" width="50px">
            </a>
        </div>

        <h1>Vasco</h1>

        <div class="product-gallery">
            <!-- Camisa 1 -->
            <div class="product-card">
                <img src="flu2.jpg" alt="Camisa Vasco 1">
                <p class="product-name">Camisa Fluminense Home 23/24 - Preto e Branco</p>
                <p class="product-price">R$ 159,90</p>
                <button class="buy-btn">Comprar</button>
            </div>
            <!-- Camisa 2 -->
            <div class="product-card">
                <img src="flu2.webp" alt="Camisa Vasco 2">
                <p class="product-name">Camisa Vasco Home 23/24 - Preto e Branco</p>
                <p class="product-price">R$ 159,90</p>
                <button class="buy-btn">Comprar</button>
            </div>
            <!-- Camisa 3 -->
            <div class="product-card">
                <img src="flu3.webp" alt="Camisa Vasco 3">
                <p class="product-name">Camisa Vasco Third 23/24 - Branco</p>
                <p class="product-price">R$ 159,90</p>
                <button class="buy-btn">Comprar</button>
            </div>
            <!-- Camisa 4 -->
            <div class="product-card">
                <img src="flu4.webp" alt="Camisa Vasco 4">
                <p class="product-name">Camisa Fluminense Away 23/24 - Preto</p>
                <p class="product-price">R$ 159,90</p>
                <button class="buy-btn">Comprar</button>
            </div>
            <!-- Camisa 5 -->
            <div class="product-card">
                <img src="flu5.webp" alt="Camisa Vasco 5">
                <p class="product-name">Camisa Vasco Home 23/24 - Preto e Branco</p>
                <p class="product-price">R$ 159,90</p>
                <button class="buy-btn">Comprar</button>
            </div>
            <!-- Camisa 6 -->
            <div class="product-card">
                <img src="flu6.webp" alt="Camisa Vasco 6">
                <p class="product-name">Camisa Vasco Third 23/24 - Branco</p>
                <p class="product-price">R$ 159,90</p>
                <button class="buy-btn">Comprar</button>
            </div>
        </div>
    </div>
</body>
</html>